/* Aggiunta dello stile del font personalizzato */
@font-face {
    font-family: 'Amigh';
    src: url('asterina.otf') format('opentype');
  }
  
  body {
    font-family: 'Amigh', Arial, sans-serif; /* Utilizzo del font personalizzato */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Colore di sfondo */
  }
  
  .container {
    text-align: center;
  }
  
  .title {
    font-size: 96px;
    margin-bottom: 20px;
    font-family: 'Amigh', sans-serif; /* Utilizzo del font personalizzato */
    letter-spacing: 0px;
    color: #908471; /* Stonewall */
  }
  
  /* Animazione per la rotazione */
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(230deg);
    }
  }
  
  /* Applicazione dell'animazione */
  .rotate {
    display: inline-block;
    animation: rotateAnimation 1.5s ease-out forwards;
  }
  
  /* Stili CSS base per la visualizzazione mobile */
/* ... Altri stili CSS ... */

/* Stili specifici per dispositivi mobili */

/* Modifiche per adattarsi a dispositivi con larghezza massima di 600px */
@media only screen and (max-width: 1000px) {
  body {
    background-color: #fff; /* Sfondo bianco per la visualizzazione mobile */
  }

  .container {
    padding: 20px; /* Aggiungi spazio intorno al contenuto */
  }

  .title {
    font-size: 44px; /* Riduci la dimensione del titolo per dispositivi mobili */
    margin-bottom: 10px; /* Riduci lo spazio tra il titolo e il contenuto */
  }

  p {
    font-size: 16px; /* Dimensione del testo del paragrafo */
    line-height: 1.5; /* Altezza della riga per una migliore leggibilità */
    color: #333; /* Colore del testo scuro */
  }
  .content-image {
    max-width: 100%; /* Assicura che l'immagine non superi la larghezza del suo contenitore */
    height: auto; /* Mantiene l'aspetto proporzionale dell'immagine */
    margin-bottom: 0px; /* Aggiunge spazio sotto l'immagine */
  }
  /* Stili specifici per l'immagine */
.content-image {
    width: 100%; /* Assicura che l'immagine si adatti alla larghezza del suo contenitore */
    height: 100px; /* Altezza fissa per mostrare solo la parte desiderata dell'immagine */
    object-fit: cover; /* Taglia l'immagine per adattarla all'elemento padre mantenendo l'aspetto */
    object-position: center bottom; /* Posizione dell'immagine - in questo caso, mostra la parte inferiore centrale */
    overflow: hidden; /* Nasconde le parti dell'immagine al di fuori del contenitore */
  }
}
